footer{
    background-color: #BE1E2D;
    padding: 20px;
}

footer a , footer a:hover{
    color: white;
}

.jumbotron{
    background-color: #BE1E2D;
    color: white;
    margin-top: 50px;
}

.menu-items{
    flex: 1 240px;
    margin: 4px;
}

.pd-10{
    padding-right: 10px;
}

.btn-order{
    width: 100%;
}
